*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    outline: none;
  } 
  
  body{
    background: #ffffff;
    width: 100%;
  }
  /* ----------------------Estilos LOGIN y REGISTER ---------------------------------------------------*/

  .imageDetail{
    display: none;
  }
  .logIn, .newUser{
    padding: 25px;
    text-align: center;
    box-shadow: 0 0px 4px #D81212, 0 0 20px #DA4545 inset;
    width: 75%;
    margin: 8% 5%;
    border-radius: 10px;
    font-size: 15px;

  }
  .outline {
    outline: none;
  }
  .change-login{
    display:none;
  }
  .logo{
    width: 96%;
    margin: 5px;
  }
  .formulario{
    margin: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .reg_error_inner{
    border: solid 2px rgb(238, 217, 33);
    border-radius: 15px;
    background: rgb(238, 217, 33);
  }
  .logoPrincipal{
    width: 190px;
  }
  .emailLogin, .passwordLogin, .newEmail, .newPassword {
    border-color: rgb(230, 229, 229);
    border-radius: 9%;
    outline: none;
    padding: 3%;
    margin: 5%;
    width: 70%;
  }
  .ingresar, .newRegistered-User{
    background-color: #DA4545;
    color: white;
    border-radius: 9%;
    padding: 3%;
    outline: none;
    width: 45%;
  }
  .iconGoogle{
    height: 35px;
    margin: 5%;
  }
  .p-intro{
    margin: 10px;
  }
 .uploader{
   display:none;
 }
/*---------------------------------*/
@media all and (min-width: 700px){
  .login, .form-register{
    display: flex;
    flex-direction: row;
  }
  .imageDetail{
    display: block;
    width: 40%;
    height: 50%;
    margin: 10px;
    padding: 3% 8%;
  }
  .logIn {
    width: 30%;
    height: 50%;
    margin: 3% 6% 3% 3%;
    padding: 25px;
  }
  .newUser {
    width: 28%;
    height: 50%;
    margin: 6% 6% 3% 5%;
    padding: 25px;
  }
}  




  /*Estilos del Home ----(PARTE LOURDES)--------------------------------------------------------------*/
  header{
    background: #d94545;
    height: 50px;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    position: sticky;
    top:0;
    z-index: 1;
  }
  .menubar{
    list-style: none;
    display: flex;
    width: 400px;
  }
  
  nav a {
    padding: 12px;
    color: #ffffff;
    text-decoration: none;
  
  }

  header nav a:hover{
    background: rgb(236, 120, 78);
  }

/*---------------------------------*/
@media all and (max-width: 400px){
  header{
    align-items: center;
    flex-flow: row;
  }
  .menubar{
    width: 300px;
    align-items: center;
  }
}

  /* -------------------- Estilos de Crear Post ----------------------------------------------------------*/

  main {
    background: #F1F2F5;
  }
  .homeContainer{
    background: #f6eeee;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .createPost{
    border : solid 2px rgb(145, 144, 144);
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #f9f9f9;
  }
  .post-done{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .top-create-post{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
  }

  .textarea{
    border : solid 2px #BAB7B7;
    width: 70%;
    height: 50%;
    margin: 0.5em;
    padding: 1.8em;
    border-radius: 10px;
    text-decoration: none;
    background: #f9f9f9;
  }
  .lower-create-post{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
  }
  #uploader{
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    margin-bottom: 10px;
  }
  .addImg{
    /* width: 8%; */
    height: 8%;
    margin: 0em 1em 1em 1em;
    display: none;
  }
  .user {
    width: 20%;
    height: 20%;
    margin: 15px;
    border-radius: 110px;
    border: solid 2px #BAB7B7;
  }

  .btnPost{
    background: #DA4545;
    width: 30%;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
    border: 2px solid #DA4545;
    font-size: 15px;
    text-shadow: -1px 2px 4px rgb(117, 116, 116);
  }

  .btnPost:hover{
    transform: scale(1.1);
    transition: 0.5;
    font-weight: bold;
  }

/*---------------------------------*/
@media all and (min-width: 700px){
    .homeContainer{
    width: 100%;
  }
  .post-Container{
    width: 60%;
    margin: 0px 290px;
  }
  .createPost, .post-done {
    margin: 2% 0% 0% 2%;
    width: 90%;
  }
  .addImg{
    /* width: 30px;*/
    height: auto;
    margin: 0em 2em 0em 7em;
  }
  .user {
    width: 10%;
    height: 8%;
    margin: 15px;

  }
  .textarea{
    width: 95%;
  }
  #uploader {
    width: 30%;

}
}
/* -------------------publicaciones ----------------------------------------------------------------------- */
  .userPost{
    border: solid 1px rgb(145, 144, 144);
    margin: 0px 0px 20px 0px;
    background: #f9f9f9;
  }
  .postHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #EB7C6A;
    /* background: rgb(236, 120, 78); */

  }
  select{
    background: #EB7C6A;
    outline: none;  

  }

  .user-info{
  display: flex;
  justify-content: flex-start;
  }

  .option-edit-post{
    align-self: flex-start;
    padding-right: 5px;
  }

  span{
    font-size: 25px;
    margin-bottom: 15px;
    margin-left: 0;
    /* padding-left: 50px; */
  }

  .optionPost{ 
    list-style: none;
    display: none;
  }

  .optionPost>ul{
    list-style: none;
    display: none;
  }
  .option-edit-post:hover>ul{
    display: block;
    cursor: pointer;
    border: 2px solid rgb(204, 202, 202);
    border-radius: 3px;
    /* box-shadow: 1px 5px 5px 3px rgb(233, 171, 171); */
  }

  li:hover{
    padding: 2px;
    margin: 2px;
    transform: scale(1.1);
    transition: 0.5;
    background: rgb(192, 197, 199);
  }

  #nameUser{
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
  }

  .contentPost{
    border: solid 2px #BAB7B7;
    width: 78%;
    margin: 1em 1em 1em 1.3em;
    padding: 1em;
    border-radius: 10px;
  }
 #photoPost{
  width: 95%;
 }

 .updateImgPost{
    width: 90%;
  }
  .hide{
    left: 20%;
  }

  time{
    font-size: 10px;
    margin: 5px;
    top: 38px;
  }

  .reactions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px #BAB7B7;
    border-bottom: solid 1px #BAB7B7;
  }
  .btnLike, .btnComment{
    border: none;
    background: #f9f9f9;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    margin: 5px;
    transform: scale(1.1);
    }
  
    .btnLike .btnComment:hover{
    transform: scale(1.1);
    transition: 0.5;
    font-weight: bold;
  }

  .footer {
    background: rgb(202, 202, 206);
    text-align: center;
  }
/*---------------------------------*/
@media all and (min-width: 700px){
  time{
    font-size: 14px;
    margin: 5px;
    top: 20px;
  }
  .contentPost{
    width: 89%;
  }
  .updateImgPost{
    width: 35%;
    align-items: center;
  }
  #photoPost{
    width: 70%;
   }
}


/* ----------------------Estilos scroll ()------------------------------------------------------------*/ 
  body::-webkit-scrollbar{
    width: 1.5%;
    background-color: #F6EEEE;
  }
  body::-webkit-scrollbar-thumb{
    border-radius: 0.4rem;
    background: rgb(236, 120, 78);
    height: 1%;
  }

/* ----------------------Estilos PERFIL ()--------------------------------------------------------------*/ 

.main-content{
  display: flex;
  flex-direction: column;
  background:  #f6eeee;
}

.user-information{
height: 235px;
margin: 1px ;
border: solid 2px rgb(145, 144, 144);
padding-bottom: 5px;
margin-bottom: 5px;
background: #f9f9f9;

}
.profile-container{
  display: flex;
  flex-direction: column;
}

.img-portada{
  width: 67%;
}

figure{
  display: flex;
  justify-content: center;
  border-bottom: solid 2px #BAB7B7;
}
.logged-user-data{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.img-user{
  width: 65px;
  position: absolute;
  border-radius: 110px;
  margin-top: -65px;
  border: 2px solid #BAB7B7;
}
.information-user{
  display: flex;
  flex-direction: column;
  margin-top: 6%;
  width: 50%;
  align-items: center;
}
.name {
  font-weight: bold;
  font-size: 13px;
}
.btn-Editar-Perfil{
  background: #DA4545;
  margin: 5px;
  padding: 3px;
  width: 80%;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  border: 2px solid #DA4545;
  font-size: 15px;
  text-shadow: -1px 2px 4px rgb(117, 116, 116);
}
.btn-Editar-Perfil:hover{
  transform: scale(1.1);
  transition: 0.5;
  font-weight: bold;
}
/*---------------------------------------------------------------------------------*/
.my-post{
  border: solid 2px rgb(145, 144, 144);
  margin-bottom: 5px;
  background: #f9f9f9;
}
/*---------------------------------Estilos publcacion perfil------------------------------*/
.user-post{
  width:100%;
  margin:5px auto;
  display: flex;
  flex-direction: column;
}
 .action-user{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.text-CommentPost{
  width: 84%;
  margin: 1em 0em 0.5em 0.5em;
  padding: 1%;
  border-radius: 10px;
  text-decoration: none;
  background: #dedede;
}
.send-Comment{
  margin-bottom: 8px;
}
.nameCommentary{
  align-items: center;
  margin-top: 6px;
}
.sendComment{
  margin-bottom: 10px;
}

/*-----------------------------------------------*/

@media all and (min-width: 700px){
  .main-content {
    display: flex;
    flex-direction: row;
  }
  .user-information {
    width: 60%;
    margin: 10px;
    height: 100%;
  }
  .img-portada {
      width: 60%;
  }
  .my-post {
    width: 90%;
    margin: 0.5% 3% 0% 2%;
  }

  .img-user{
    left: 50px;
   margin-top: 0px;
  }
  .text-CommentPost{
    width: 90%;
  }

}

/* -------------------comentarios ----------------------------------------------------------------------- */
.new-Commentary{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  border-top: solid 1px #BAB7B7;

}
 .userComentImg{
  width: 15%;
  height: 20%;
  margin: 8px;
  border-radius: 110px;
  border: solid 2px #BAB7B7;
}
.dataCommentUser{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#nameUserC{
  font-size: 12px;
  font-weight: bold;
  margin: 5px 0px 0px 5px;
  width: max-content;
}
.text-Comment{
  width: 74%;
  margin: 0em 0em 0.5em 0.5em;
  padding: 1%;
  border-radius: 10px;
  text-decoration: none;
  background: #dedede;
}

.boxComment{
  width: 100%;
}

.headerComment{
  display: flex;
}


@media all and (min-width: 700px){
  .userComentImg{
    width: 7%;
  }
  .text-Comment {
    width: 90%;
    margin: 0em 0em 0.5em 0.5em;
}

}