*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
  } 
  
  body{
    background: #ffffff;
    width: 100%;
  }
  /* ----------------------Estilos LOGIN y REGISTER ---------------------------------------------------*/

  .imageDetail{
    display: none;
  }
  .logIn, .newUser{
    padding: 25px;
    text-align: center;
    box-shadow: 0 0px 4px #D81212, 0 0 20px #DA4545 inset;
    width: 75%;
    margin: 8% 5%;
    border-radius: 10px;
    font-size: 15px;

  }
  .logo{
    width: 96%;
    margin: 5px;
  }
  .formulario{
    margin: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .logoPrincipal{
    width: 190px;
  }
  .emailLogin, .passwordLogin, .newEmail, .newPassword {
    border-color: rgb(230, 229, 229);
    border-radius: 9%;
    outline: none;
    padding: 3%;
    margin: 5%;
    width: 70%;
  }
  .ingresar, .newRegistered-User{
    background-color: #DA4545;
    color: white;
    border-radius: 9%;
    padding: 3%;
    outline: none;
    width: 45%;
  }
  .iconFb, .iconGoogle{
    height: 35px;
    margin: 5%;
  }
  .p-intro{
    margin: 10px;
  }

/*---------------------------------*/
@media all and (min-width: 700px){
  .login, .form-register{
    display: flex;
    flex-direction: row;
  }
  .imageDetail{
    display: block;
    width: 45%;
    height: 50%;
    margin: 10px;
    padding: 3% 2% 3% 5%;
  }
  .logIn {
    width: 30%;
    height: 50%;
    margin: 3% 6% 3% 3%;
    padding: 25px;
  }
  .newUser {
    width: 28%;
    height: 50%;
    margin: 6% 6% 3% 5%;
    padding: 25px;
  }
}  




  /*Estilos del Home ----(PARTE LOURDES)--------------------------------------------------------------*/
  header{
    background: #d94545;
    height: 50px;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
  }
  .menubar{
    list-style: none;
    display: flex;
    width: 400px;
  }
  

  
  nav a {
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    flex-grow: 1;
  }

  header nav a:hover{
    background: #EC9797;
  }

/*---------------------------------*/
@media all and (max-width: 400px){
  header{
    align-items: center;
    flex-flow: row;
  }
  .menubar{
    width: 300px;
    align-items: center;
  }
}

  /* -------------------- Estilos de Crear Post ----------------------------------------------------------*/

  main {
    background: #F1F2F5;
  }
  .homeContainer{
    background: #ffffff;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .createPost,
  .post-done{
    border : solid 2px #DA4545;
    margin: 10px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .top-create-post, .lower-create-post{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  textarea{
    border : solid 2px #BAB7B7;
    width: 70%;
    height: 50%;
    margin: 0.5em;
    padding: 1.8em;
    border-radius: 10px;
    text-decoration: none;
  }
  .addImg{
    width: 8%;
    height: 8%;
    margin: 0em 2.5em;
  }
  .user {
    width: 20%;
    height: 20%;
    margin: 5px;
  }

  .btnPost{
    background: #DA4545;
    width: 30%;
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
    border: 2px solid #DA4545;
    font-size: 15px;
    text-shadow: -1px 2px 4px rgb(117, 116, 116);
  }

  .btnPost:hover{
    transform: scale(1.1);
    transition: 0.5;
    font-weight: bold;
  }

/*---------------------------------*/
@media all and (min-width: 700px){
    .homeContainer{
    width: 50%;
  }
  .addImg{
    width: 30px;
    height: auto;
    margin: 0em 2em 0em 7em;
  }
  .user {
    width: 8%;
    height: 8%;
    margin: 15px;
  }
  .textarea{
    width: 85%;
  }
}

/* -------------------publicaciones ----------------------------------------------------------------------- */

  .postHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
  }

  .user-info{
  display: flex;
  justify-content: flex-start;
  }

  .dateUser{
    padding: 0em 1em;
    position: relative;
  }
  .option-edit-post{
    font-size: 15px;
    right: 0;
    top: 0;
    position: absolute;
  }

  span{
    font-size: 25px;
    margin-bottom: 15px;
    margin-left: 0;
    padding-left: 50px;
  }

  .optionPost{ 
    list-style: none;
    display: none;
  }

  .optionPost>ul{
    list-style: none;
    display: none;
  }

  .option-edit-post:hover>ul{
    display: block;
    border: 2px solid #DA4545;
    border-radius: 3px;
    box-shadow: 1px 5px 5px 3px #DA4545;
  }

  li{
    padding: 2px;
    margin: 2px;
  }

  #nameUser{
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
  }

  .contentPost{
    border : solid 2px #BAB7B7;
    width: 75%;
    margin: 0.5em;
    padding: 1.8em;
    border-radius: 10px;
  }

  time{
    font-size: 10px;
    margin: 5px;
    top: 38px;
  }

  .reactions{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  button{
    border: none;
    background: #ffffff;
    cursor: pointer;
    width: 30%;
    text-decoration: none;
    font-size: 12px;
    margin: 5px;
    padding: 5px;
    }
  
  button:hover{
    transform: scale(1.1);
    transition: 0.5;
    font-weight: bold;
  }

  footer{
    background: rgb(202, 202, 206);
    text-align: center;
  }

/*---------------------------------*/
@media all and (min-width: 700px){
  time{
    font-size: 14px;
    margin: 5px;
    top: 20px;
  }
  .contentPost{
    width: 82%;
  }
}


/* ----------------------Estilos scroll ()------------------------------------------------------------------*/ 
body::-webkit-scrollbar{
    width: 1.5%;
    background-color: #F6EEEE;
}
body::-webkit-scrollbar-thumb{
    border-radius: 0.4rem;
    background: #ED8D8D;
    height: 1%;
}

/* ----------------------Estilos PERFIL ()------------*/ 

.img-portada{
  width: 50%;
}
